.btn-primary {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.7rem 2rem;
  border-radius: var(--border-radius);
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-color: var(--primary-color-dark);
}
