.navbar {
  padding: 1.5rem 0;
}

.logo {
  width: 35px;
}

.showcase_title {
  font-size: 3rem;
}

.site_name {
  color: var(--primary-color);
}

.nav_links {
  padding: 0 0.7rem;
}

.navbar_content1 {
  display: flex;
}

.nav_link {
  text-decoration: none;
  color: black;
  margin: 0 1.5rem;
  transition: all 0.3s;
  font-weight: 600;
}

.nav_links::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #e2e2e2;
  height: 45px;
  width: 0.5px;
  top: 15px;
}

.nav_link:hover {
  color: var(--primary-color);
}

.nav_link:hover svg {
  fill: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.showcase_image_mobile {
  display: none;
  margin-bottom: 2.5rem;
  width: 100%;
  max-width: 550px;
}

.showcase_image {
  width: 55%;
}

.showcase_image img {
  width: 100%;
}

.warning {
  text-align: center;
}

.warning svg {
  fill: red;
  width: 50px;
  height: 50px;
}

@media (max-width: 1100px) {
  .showcase {
    text-align: center;
  }

  .showcase_content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .showcase_image {
    display: none;
  }

  .showcase_image_mobile {
    display: block;
  }

  .showcase_title {
    font-size: 2.3rem;
  }
}

@media (max-width: 1100px) {
  .navbar_content1 {
    display: none;
  }
}

@media (max-width: 560px) {
  .showcase_title {
    font-size: 1.5rem;
  }

  .site_desc {
    width: 95%;
    font-size: 13px;
  }
}
